html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #f5f6f8;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --white: white;
  --primary: #5b40c2;
  --primary-hover: #4c2dcb;
  --red: #fc836d;
  --red-light: #e19689;
  --green: #007c48;
  --green-light: #c8f8e4;
  --gray-light: #ebebeb;
  --gray-dark: #505459;
  --gray: #a4a4a4;
}
