.textarea {
  padding: 7px 15px;
  color: var(--black);
  border: none;
  outline-color: var(--primary);
  background-color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: inherit;
  /* min-height: 76px;
  width: 100%; */
}

.textarea::placeholder {
  color: #a4a4a4;
}
