.hh {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}

.count {
  padding: 20px;
  text-align: center;
}

.salary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 20px;
}

.graid {
  border-right: 1px solid var(--gray-light);
}

.graid:last-child {
  border-right: none;
}

.title {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
}

.countValue {
  font-size: 36px;
  font-weight: bold;
  line-height: 49px;
  color: var(--primary);
}

.salaryValue {
  font-weight: bold;
  line-height: 35px;
  font-size: 26px;
  margin-bottom: 10px;
}

.rate {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  gap: 10px;
  justify-content: center;
}

.filled circle {
  fill: var(--red);
}

@media screen and (max-width: 1200px) {
  .hh {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 640px) {
  .salary {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
  .graid {
    border-right: none;
    border-bottom: 1px solid var(--gray-light);
    padding-bottom: 20px;
  }
  .graid:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
