.wrapper {
  color: var(--white);
  font-size: 16px;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  grid-template-areas: ". info . nda conf .";
  gap: 20px;

  background-color: var(--primary);
}

.text {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.info {
  grid-area: info;
}

.nda {
  grid-area: nda;
}

.conf {
  grid-area: conf;
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "info"
      "nda"
      "conf";
  }
}
