.product {
  display: grid;
  grid-template-columns:
    [start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
    [middle] auto [pricestart] auto
    [priceend] 40px [creditstart] auto
    [creditend] 40px [ratingstart] auto
    [end];
  margin-bottom: 30px;
  padding: 30px;
}

.logo {
  grid-column: start/ logoend;
  grid-row: 1 / span 2;
}

.title,
.tags {
  grid-column: titlestart / middle;
}

.price,
.priceTitle {
  grid-column: pricestart / priceend;
}

.credit,
.creditTitle {
  grid-column: creditstart/ creditend;
}

.rating,
.rateTitle {
  grid-column: ratingstart / end;
}

.hr,
.description,
.actions {
  grid-column: start / end;
}

.feature {
  grid-column: start / middle;
}

.advBlock {
  grid-column: middle / end;
}

.logo img {
  border-radius: 5px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  align-self: flex-end;
}

.price,
.credit {
  font-size: 20px;
  line-height: 27px;
  align-self: flex-end;
}

.rating {
  align-self: flex-end;
}

.priceTitle,
.rateTitle,
.creditTitle {
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
}

.month {
  font-size: 14px;
  line-height: 19px;
}

.oldPrice {
  margin-left: 5px;
}

.category {
  margin-top: 7px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.reviewButton {
  margin-left: 20px;
}
.advBlock {
  font-size: 16px;
  line-height: 22px;
}

.advTitle {
  margin-bottom: 5px;
  font-weight: bold;
}

.advantages {
  padding-left: 15px;
  border-left: 2px solid var(--green);
  margin-bottom: 20px;
}

.disadvantages {
  padding-left: 15px;
  border-left: 2px solid var(--red);
}

.characteristics {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-right: 60px;
  font-size: 16px;
  line-height: 32px;
  align-items: baseline;
}

.characteristicsName {
  margin-right: 10px;
  font-weight: bold;
}

.characteristicsDots {
  border-bottom: 1px dashed var(--gray-light);
  margin-bottom: 5px;
}

.characteristicsValue {
  margin-left: 10px;
}
